[submodule "hevtunnel/src/main/jni/hev-socks5-tunnel"]
	path = hevtunnel/src/main/jni/hev-socks5-tunnel
	url = https://github.com/heiher/hev-socks5-tunnel
[submodule "backend/native/amneziawg-tools"]
	path = backend/native/amneziawg-tools
	url = https://github.com/amnezia-vpn/amneziawg-tools
